
<div class="container">
    <br>
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task 1</h5>
                <p class="card-text">There is no fear now, let go and just be free, I will love you unconditionally. Last Friday night. I am so unprepared. The girl's a freak, she drive a jeep in Laguna Beach. Always leaves a trail of stardust. If you want it all. I got you spinning like a disco ball. Scared to rock the boat and make a mess. Black ray-bans, you know she's with the band.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task 2</h5>
                <p class="card-text">Santa Barbara, chique, at La Super Rica, grabbing tacos, checking out hotties. You just gotta ignite the light and let it shine. Are you ready for, ready for. Like a lightning bolt, your heart will glow and when it's time you'll know. Boy, you should know what you're falling for. I went from zero, to my own hero.</p>
                </div>
                
            </div>
        </div>
    </div>
    
    
</div>