<div class="container">
    <br>
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                <p class="card-text">If a woman does need a hero, she needs him today, not tomorrow. The Wheel of Time and the wheel of a man's life turn alike without pity or mercy. How people see you first is what they hold hardest in their minds. It is the way of the world. You can step down from a throne, and even if you behave like a farmer in a pigsty, some part in each of them will remember that you did descend from a throne. But if they see only a young man first, a country man, they will resent him stepping up to the throne later, whatever his right, whatever his power.</p>
                </div>
                
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                <p class="card-text">When you wish for so long that you could hear something, and then suddenly, with no warning, you do, it is like a lightning strike and rain on parched ground at the same time. You're stunned, but you cannot hear enough. Once you decide to gut a fish, there's no use waiting till it rots.
                </p>
                </div>
                
            </div>
        </div>
    </div>
    
    
</div>