<div class="container">
    <br>
    <h2>{{ title }}</h2>
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Tasks</h5>
        <p class="card-text">Bacon ipsum dolor amet in nulla salami ut pork kevin ut. Veniam meatball irure chuck. Filet mignon jowl bacon in chislic. Eiusmod quis salami shoulder drumstick prosciutto capicola in jowl biltong aliqua fatback ground round spare ribs in. Laboris in dolor, porchetta chislic burgdoggen biltong. Aute ex chicken, dolore in culpa strip steak laborum sirloin turducken in.</p>
        </div>
        
    </div>
</div>